<div class="block-inner clearfix">
                
    <div class="content clearfix">
      <div class="view view-hslides view-id-hslides view-display-id-block_1 view-dom-id-410f4060ad8225f3cf0f08551327756f">
        
  
  
      <div class="view-content">
      
  <div class="skin-default">
    
    <div id="views_slideshow_cycle_main_hslides-block_1" class="views_slideshow_cycle_main views_slideshow_main"><div id="views_slideshow_cycle_teaser_section_hslides-block_1" class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section">
  <div id="views_slideshow_cycle_div_hslides-block_1_0" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd">
  <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-odd views-row-first">
    
  <div class="views-field views-field-field-simage">        <div class="field-content"><a href="/ru/slimbook"><img typeof="foaf:Image" src="http://pro.cyfrolab.com/sites/default/files/image1_1.jpg" width="940" height="400" alt="" /></a></div>  </div>  
  <div class="slideshow-content-wrapper"><div class="views-field views-field-title">        <h2 class="field-content"><a href="/ru/slimbook">Фотокнига SlimBook</a></h2>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="/ru/slimbook">Подробнее...</a></span>  </div>  
  <div class="views-field views-field-field-sdescr">        <div class="field-content">ИЗГОТОВЛЕН ПО САМОЙ ПЕРЕДОВОЙ ТЕХНОЛОГИИ ПРОИЗВОДСТВА ФОТОКНИГ</div>  </div></div></div>
</div>
<div id="views_slideshow_cycle_div_hslides-block_1_1" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-2 views_slideshow_cycle_hidden views-row-even">
  <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-1 views-row-even">
    
  <div class="views-field views-field-field-simage">        <div class="field-content"><a href="/ru/photobook"><img typeof="foaf:Image" src="http://pro.cyfrolab.com/sites/default/files/image2.jpg" width="940" height="400" alt="" /></a></div>  </div>  
  <div class="slideshow-content-wrapper"><div class="views-field views-field-title">        <h2 class="field-content"><a href="/ru/photobook">Фотокнига PhotoBook</a></h2>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="/ru/photobook">Подробнее...</a></span>  </div>  
  <div class="views-field views-field-field-sdescr">        <div class="field-content">КЛАССИКА ФОТОКНИГИ; ПЛАСТИК, ФОТОПЕЧАТЬ, РАЗВОРОТ НА 180</div>  </div></div></div>
</div>
<div id="views_slideshow_cycle_div_hslides-block_1_2" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-3 views_slideshow_cycle_hidden views-row-odd">
  <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-2 views-row-odd">
    
  <div class="views-field views-field-field-simage">        <div class="field-content"><a href="/ru/printbook"><img typeof="foaf:Image" src="http://pro.cyfrolab.com/sites/default/files/image3.jpg" width="940" height="400" alt="" /></a></div>  </div>  
  <div class="slideshow-content-wrapper"><div class="views-field views-field-title">        <h2 class="field-content"><a href="/ru/printbook">PrintBook</a></h2>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="/ru/printbook">Подробнее...</a></span>  </div>  
  <div class="views-field views-field-field-sdescr">        <div class="field-content">ДОСТУПНЫЕ ФОТОКНИГИ БЫСТРЫЕ В ПРОИЗВОДСТВЕ</div>  </div></div></div>
</div>
<div id="views_slideshow_cycle_div_hslides-block_1_3" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-4 views_slideshow_cycle_hidden views-row-even">
  <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-3 views-row-even">
    
  <div class="views-field views-field-field-simage">        <div class="field-content"><a href="/ru/school"><img typeof="foaf:Image" src="http://pro.cyfrolab.com/sites/default/files/image4.jpg" width="940" height="400" alt="" /></a></div>  </div>  
  <div class="slideshow-content-wrapper"><div class="views-field views-field-title">        <h2 class="field-content"><a href="/ru/school">Выпускные фотокниги</a></h2>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="/ru/school">Подробнее...</a></span>  </div>  
  <div class="views-field views-field-field-sdescr">        <div class="field-content">УЗНАЙТЕ О ВСЕХ ЛУЧШИХ ПРЕДЛОЖЕНИЯХ ДЛЯ ШКОЛЬНОГО ФОТОГРАФА</div>  </div></div></div>
</div>
<div id="views_slideshow_cycle_div_hslides-block_1_4" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-5 views_slideshow_cycle_hidden views-row-odd">
  <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-4 views-row-odd views-row-last">
    
  <div class="views-field views-field-field-simage">        <div class="field-content"><a href="/ru/wedding"><img typeof="foaf:Image" src="http://pro.cyfrolab.com/sites/default/files/image5.jpg" width="940" height="400" alt="" /></a></div>  </div>  
  <div class="slideshow-content-wrapper"><div class="views-field views-field-title">        <h2 class="field-content"><a href="/ru/wedding">Свадебные фотокниги</a></h2>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="/ru/wedding">Подробнее...</a></span>  </div>  
  <div class="views-field views-field-field-sdescr">        <div class="field-content">МИ ПІДНІМАЄМО ВАРТІСТЬ ВАШОЇ РОБОТИ</div>  </div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
