
<div class="container">
	<div class="first_information">
		<p>
			<h2>PhotoBook</h2>
			Серія класичних фотокниг  
			<strong>PhotoBook</strong> 
			з листами надрукованими фотохімічним способом на фотопапері Fuji. Добротний і перевірений пластик, який використовується у прошарку між розворотами, додає фотокнизі вагу і солідність, а демократична «цифролабівська» <a href="<%= result_index_path %>">ціна</a> і якість - роблять цю класику доступною для будь-якого фотографа.
		</p>
	</div>

	<h2 class="block-title">Формати книг</h2>
         
	<div class="content clearfix">
		<div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-0 menu-level-3">
			<ul class="menu">
				<li class="first leaf menu-mlid-977">
					<a href="/photobooks/photobook/30x30" class="menu_icon menu-977" title="">
						30x30
					</a>
				</li>
				<li class="leaf menu-mlid-978">
					<a href="/photobooks/photobook/20x30" class="menu_icon menu-978">20x30</a>
				</li>
				<li class="leaf menu-mlid-979">
					<a href="/photobooks/photobook/30x20" class="menu_icon menu-979">30x20</a>
				</li>
				<li class="last leaf menu-mlid-980">
					<a href="/photobooks/photobook/20x20" class="menu_icon menu-980" title="">20x20</a>
				</li>
			</ul>
		</div>
	</div>

	<h2>Основні характеристики</h2>

	<h3>Папір</h3>

	<p> 
		Для друку ваших книг ми використовуємо фотопапір Fujicolor Crystal Archive і лабораторії Noritsu 34 PRO 
	</p>

	<h4>1. Fujicolor Crystal Archive LUSTRE</h4>

	<p>
		 Цей тип паперу використовується за замовчуванням при друці всіх наших фотокниг. Фотографам старої школи добре відома так звана «тисненка». Фотопапір <b>Lustre</b> (називають «ластер» або «люстра»), максимально на неї схожий. Папір має специфічний рельєф і характерну кольоропередачу.
	</p>
	<p> 
		В нас на сайті при оформленні замовлення цей папір називається матовим. 
	</p>

	<h4>2. Fujicolor Crystal Archive SILK</h4>
	<p>
		Якщо Вам необхідно ще більше «преміальності» - цей папір по Вашу душу. Текстурована фактура схожа на шовкову тканину з винятковою, характерною лише для неї, глибокою передачею кольору. Як і для всього виняткового, в «шовку» є свої обмеження - папір доступний лише для формату фотокниг 30х30.
	</p>

	<h3>Основа</h3>

	<p>
		Для прошарку між розворотами ми використовуємо пластик. Багаторічний досвід роботи з різними матеріалами для прошарку зміцнив нас у вірі в те, що «краще пластика може бути тільки пластик (якщо це не <a href="<%= landing_page_slimbook_path%>">SlimBook</a>)».
	</p>
	<p>
		Пластик передбачуваний у виробництві, не деформується в експлуатації або при зміні температурних режимів. Його товщина і вага додають книзі фоліантністі та солідності. Підсумуємо: «класика» - це пластикова основа листів, «революційна класика» - це <b>SlimBook</b>, все інше - компроміс.
	</p>

	<h3>Обкладинки</h3>

	<h4>1. Фотообкладинка</h4>
	<p>
		Базова обкладинка всіх наших фотокниг. Як і в <a href="<%= landing_page_printbook_path%>">PrintBook</a> вона тверда, надрукувана цифровим способом і покрита глянцевою ламінацією.
	</p>

	<h4>2. Обкладинки з шкірзамінника</h4>
	<p>
		Більше життя, більше кольору! Вибирайте ту, яка підходить під тональність і настрій Вашої фотокниги. Італійський високоякісний шкірзам залишить приємні тактильні відчуття, а совість не буде гризти за невинно вбитих звіряток.
	</p>

	<h4>3. Обкладинка з шкірзаму з фотовставкою</h4>
	<p>
		Чудове рішення для того, щоб прикрасити Вашу книгу. Замовляйте обкладинку з шкірзаму і Ваша фотокнига стане унікальною та неповторною.
	</p>




</div>
