// Place all the styles related to the Landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.first_information{
	background: rgba(245, 245, 245, 0.87);
	margin: -10px -15px 10px;

	h2{
		font-family: "Comic Sans MS",cursive;
		font-size: 2.75em;
		text-indent: 1em;
		padding-top: 20px;
	}

}
